body {
    text-align: center;
}

h2{
    color: rgb(132, 132, 93);
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-top: 40px;
    overflow: auto;
    background-color: black;
    
}
.card img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}
